@import '../../styles/variables/colors';
@import '../../styles/variables/typography';

.not-found-page {
  display: flex;
  justify-content: center;

  &__title {
    align-self: center;
    width: 360px;
    margin-right: 174px;
    p { text-align: center; }
  }

  &__main-title {
    margin: 0 0 21px;
    font: {
      size: 168px;
      weight: bold;
    }
    line-height: 120px;
  }

  &__subtitle {
    margin: 0 0 24px;
    font: {
      size: 30px;
      weight: bold;
    }
    line-height: 42px;
  }

  &__main-title,
  &__subtitle {
    color: $color-white;
  }

  &__description {
    color: $color-brand-secondary-grey-dark;
    font: $regular-font;
  }
}
