@import "../../styles/variables/colors.scss";
@import "../../styles/variables/typography.scss";

.projectPage {
  width: 1440px;
  box-sizing: border-box;
  padding: 18px 12px 24px 12px;
  color: $color-white;
}

.projectPage-backLink {
  color: $color-brand-secondary-grey-dark;
  font: $regular-font;
  text-decoration: none;
  display: flex;

  &--icon {
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }
}

.projectPage-title {
  font: $h1-font;
  margin-top: 24px;
}

.projectPage-description {
  font: $regular-font;
}

.projectPage-main {
  margin-top: 48px;
  color: $color-white;
  display: flex;
  height: 564px;
}

.projectPage-teamCard--skills {
  display: flex;
  margin: 6px -3px 0;
}

.projectPage-skillItem {
  margin: 0 3px;
}

.projectPage-main--left {
  height: 492px;
  width: 1056px;
  box-sizing: border-box;
  padding: 24px;
}

.projectPage-main--title {
  font: $h3-font;
}

.projectPage-main--projectDescription {
  font: $regular-font;
  margin: 18px 0 48px;
}

.projectPage-main--right {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
}

.projectPage-main--indents {
  margin: 24px 0;
}

.projectPage-main--position {
  height: 186px;
  width: 336px;
  box-sizing: border-box;
  padding: 24px;
}

.projectPage-main--project {
  height: 282px;
  width: 336px;
  box-sizing: border-box;
  padding: 24px;
}

.projectPage-main--teamWrapper {
  margin: 0 -12px;
}

.projectPage-teamCard {
  color: $color-white;
  text-decoration: none;
  font: $l1-font;
  display: inline-block;
  margin: 12px;
}

.projectPage-teamCard--content {
  padding: 12px 18px;
  height: 72px;
  width: 318px;
  border-radius: 3px;
  border: 1px solid $color-brand-functional-dark-dark;
  box-sizing: border-box;
 
  &:hover {
    background: $color-brand-functional-dark-dark;
  }
}

.projectPage-teamCard--title {
  display: flex;
  justify-content: space-between;
}

.projectPage-teamCard--icon {
  display: flex;
}

.projectPage-icon {
  color: $color-brand-secondary-grey-dark;
  margin-right: 6px;
  height: 24px;
  width: 24px;
}

.projectPage-footer {
  margin-top: 24px;
  font: $h3-font;
  color: $color-white;
}

.projectPage-footer--positionList {
  margin: 24px -12px 0 -12px;
}

.projectPage-footer--positionItem {
  margin: 0 12px;
}

.projectPage-title--link {
  color: $color-white;
}
