@import "../../../styles/variables/colors.scss";
@import "../../../styles/variables/typography.scss";

.positionDetails {
  height: 186px;
  width: 336px;
  padding: 24px;
  box-sizing: border-box;
}

.positionDetails-title {
  color: $color-white;
  font: $h3-font;
  padding-bottom: 6px;
}

.positionDetails-data {
  margin-top: 12px;
  display: flex;
  font: $l1-font;
  color: $color-white;
}

.positionDetails-icon {
  color: $color-brand-secondary-grey-dark;
  margin-right: 9px;
  height: 24px;
  width: 24px;
}

.positionDetails-label {
  color: $color-brand-secondary-grey-dark;
  margin-right: 12px;
}
