@import '../../styles/variables/colors';
@import '../../styles/variables/typography';

.input-field {
  input {
    width: 100%;
    padding: 12px 18px;
    font: $regular-font;
    color: $color-brand-secondary-grey-light;
    background-color: $color-brand-functional-dark;
    border: 1px solid $color-brand-functional-dark-dark;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;

    &::placeholder {
      color: $color-brand-secondary-grey-dark;
    }

    &:focus {
      color: $color-white;
      border-color: $color-brand-primary-blue;
      outline: none;
    }
  }

  &--disabled input {
    background-color: $color-brand-secondary-grey-darkest;
  }

  label {
    display: inline-block;
    padding-bottom: 12px;
    font: $regular-font;
    color: $color-brand-secondary-grey-dark;
  }
}
