@import '../../styles/variables/colors.scss';
@import '../../styles/variables/typography.scss';

.mainHeader {
  background: $color-brand-functional-dark-light;
  padding: 12px 0;
  height: 72px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.mainHeader-container {
  justify-content: space-between;
}

.mainHeader-logo {
  display: flex;
  height: 48px;
  width: 150px;
  align-items: center;
}
.mainHeader-logo--img {
  width: 48px;
  height: 48px;
  background: $color-brand-primary-blue;
  border-radius: 3px;
  box-sizing: border-box;
  margin-right: 18px;
}

.mainHeader-logo--txt {
  color: $color-white;
  font: $h2-logo-font;
  display: inline-block;
  vertical-align: middle;
}

.mainHeader-logIn--txt{
  color: $color-brand-secondary-grey-dark;
  margin-right: 32px;
  font: $l1-font;
}

.mainHeader-logIn--btn {
  width: 98px;
  display: inline-block;
}
