@import "../../../styles/variables/colors.scss";
@import "../../../styles/variables/typography.scss";

.projectDetails {
  height: 282px;
  width: 336px;
  padding: 24px;
  box-sizing: border-box;

  &--fullSize {
    height: 354px;
  }

}

.projectDetails-wrapper {
    margin: 0;
}

.projectDetails-title {
  color: $color-white;
  font: $h3-font;
  padding-bottom: 6px;
}

.projectDetails-data {
  margin-top: 12px;
  display: flex;
  font: $l1-font;
  color: $color-white;
}

.projectDetails-icon {
  color: $color-brand-secondary-grey-dark;
  margin-right: 9px;
  height: 24px;
  width: 24px;
}

.projectDetails-label {
  color: $color-brand-secondary-grey-dark;
  margin-right: 12px;
}

.projectDetails-label--coordinators {
    display: flex;
    flex-direction: column;
}
.projectDetails-link {
    color: $color-white;
}