$color-brand-primary-blue: #3366FF;
$color-brand-primary-blue-light: #598CFF;
$color-brand-primary-blue-dark: #244EDB;

$color-brand-secondary-grey:#B8C1D0;
$color-brand-secondary-grey-light: #EDF1F7;
$color-brand-secondary-grey-dark: #8F9BB3;
$color-brand-secondary-grey-darkest: #343C55;

$color-brand-positive-green:#40C04C;
$color-brand-positive-green-light:  #6AD86C;
$color-brand-positive-green-dark: #2DA545;

$color-brand-negative-red:#DA2A30;
$color-brand-negative-red-light:  #FF443A;
$color-brand-negative-red-dark: #B71D2E;

$color-brand-functional-dark:#1E2743;
$color-brand-functional-dark-light:  #222B45;
$color-brand-functional-dark-dark: #151A30;

$color-white: #FFFFFF;