@import '../../styles/variables/colors';
@import '../../styles/variables/typography';

body {
  font-family: $font-family-main;
  background: $color-brand-functional-dark-dark;
  margin: 0;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1440px;
}

.app {
  position: relative;
}
