@import '../../styles/variables/colors';
@import '../../styles/variables/typography';

.signin-form {
  position: relative;
  color: $color-white;
  box-sizing: border-box;

  h2 {
    margin: 0 0 18px;
    font: $h2-font;
  }

  &__close-icon {
    position: absolute;
    top: 0;
    right: 0;
    color: $color-brand-secondary-grey-dark;
  }

  &__options {
    padding-bottom: 30px;
    svg {
      padding-right: 10px;
    }
  }

  &__fields {
    div:first-child {
      padding-bottom: 30px;
    }
    div:last-child {
      padding-bottom: 18px;
    }
  }

  &__remember-user {
    font: $regular-font;
    color: $color-brand-secondary-grey-dark;
  }
}
